#if($core_v2_page.IsPost)
#set($codes = $frcommon_v1_Mfa.GenerateCodes($core_v2_user.Accessing.Id))
$core_v2_page.SetContentType('application/json')
[
#foreach($code in $codes)
"${code.PlainTextCode}"
#between
,
#end
]
#else
   $core_v2_page.SendJsonError($core_v2_language.GetResource('GenerateCodesError'))
#end
