#if ($core_v2_page.IsPost)
	## check for administrator
	#set($roles = $core_v2_utility.MakeList("Administrators"))
	#set($accessingUserIsAdministrator = $core_v2_roleUsers.IsUserInRoles($core_v2_user.Accessing.Username, $roles))

	#if($accessingUserIsAdministrator)
		#set($notificationTypeId = false)
		#set($enable = false)
		#set($notificationTypeId = $core_v2_page.GetFormValue('notificationType'))
		#set($distributionType = $core_v2_page.GetFormValue("distributionType"))
		#set($enable = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('enable')))

		$frcommon_v1_configurationExtensions.UpdateUserDefaultNotifications($notificationTypeId, $distributionType, $enable)
	#end

#end