.theme-console {
  width: 110px;
  position: fixed;
  top: 0;
  left: -100px;
  background-color: #333333;
  opacity: 0.85;
  padding: 0px;
  z-index: 10000;
  font-size: .75em;
  font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  min-height: 44px;
}
.theme-console a {
  clear: both;
  display: block;
  padding: 5px 10px 5px 10px;
  margin: 0;
  color: #ffffff;
}
.theme-console a:hover {
  background-color: #00376b;
  color: #ffffff;
}
.theme-console a:active {
  background-color: #00376b;
  color: #ffffff;
}
.theme-console .navigation-item:first-child:last-child a {
  line-height: 44px;
  padding-top: 0;
  padding-bottom: 0;
}
.theme-console:hover,
.edit .theme-console {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  left: 0;
  opacity: 1;
}