<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jobs" type="Telligent.Jobs.Configuration.JobsConfiguration, Telligent.Jobs" />
    <section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false" />
    <section name="telligent.caching" type="Telligent.Caching.Configuration.CachingConfigurationSection, Telligent.Caching" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Telligent.Glow.MultipleFileUpload.FileManagerProvider" value="Telligent.Evolution.Components.MultipleUploadFileManager, Telligent.Evolution.Platform" />
    <add key="Telligent.Glow.MultipleFileUpload.UploadHandlerUrl" value="~/multipleupload" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="EnableDeveloperMode" value="true" />
    <add key="RunJobsInternally" value="true" />
  </appSettings>
  <jobs configSource="jobs.config" />
  <connectionStrings configSource="connectionStrings.config" />
  <telligent.caching configSource="caching.config" />
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20480" maxUrlLength="2048" requestValidationMode="2.0" targetFramework="4.6.2" defaultRegexMatchTimeout="00:00:02" enableVersionHeader="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <remove name="Documentation" />
      </protocols>
    </webServices>
    <!-- Standard Application Settings -->
    <compilation defaultLanguage="c#" targetFramework="4.6.2" debug="true">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableEventValidation="false" enableViewState="true" autoEventWireup="true" pageBaseType="Telligent.Evolution.Components.CSPage, Telligent.Evolution.Platform" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="TEControl" namespace="Telligent.Evolution.Controls" assembly="Telligent.Evolution.Platform" />
        <add tagPrefix="TEBlog" namespace="Telligent.Evolution.Blogs.Controls" assembly="Telligent.Evolution.Blogs" />
        <add tagPrefix="TEForum" namespace="Telligent.Evolution.Discussions.Controls" assembly="Telligent.Evolution.Discussions" />
        <add tagPrefix="TEMedia" namespace="Telligent.Evolution.MediaGalleries.Controls" assembly="Telligent.Evolution.MediaGalleries" />
        <add tagPrefix="TEDynConfig" namespace="Telligent.DynamicConfiguration.Controls" assembly="Telligent.DynamicConfiguration" />
        <add tagPrefix="TEMessage" namespace="Telligent.Evolution.Messages.Controls" assembly="Telligent.Evolution.Platform" />
        <add tagPrefix="TEWiki" namespace="Telligent.Evolution.Wikis.Internal.Legacy.Controls" assembly="Telligent.Evolution.Wikis" />
        <add tagPrefix="TWC" namespace="Telligent.Glow" assembly="Telligent.Glow" />
        <add tagPrefix="CP" namespace="Telligent.Evolution.ControlPanel.Controls" assembly="Telligent.Evolution.Web" />
        <add tagPrefix="TEApi" namespace="Telligent.Evolution.Controls" assembly="Telligent.Evolution.Platform" />
      </controls>
      <namespaces>
        <add namespace="Telligent.Evolution.Controls.Extensions" />
      </namespaces>
    </pages>
    <trace enabled="false" requestLimit="40" localOnly="true" />
    <sessionState mode="Off" />
    <!-- Permit detailed errors to be displayed for remote clients -->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/error.aspx">
      <error statusCode="404" redirect="~/utility/error-notfound.aspx" />
    </customErrors>
    <!-- START - Telligent.Evolution specific application settings here -->
    <httpModules>
      <add name="Telligent.Evolution" type="Telligent.Evolution.CSHttpModule, Telligent.Evolution.Platform" />
    </httpModules>
    <httpHandlers>
      <add verb="GET,POST" path="api.ashx" type="Telligent.Evolution.Rest.Infrastructure.RestHttpHandler, Telligent.Evolution.Platform" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms name=".CommunityServer" cookieless="UseCookies" protection="All" timeout="10080" loginUrl="login" slidingExpiration="false" />
    </authentication>
    <membership userIsOnlineTimeWindow="15" defaultProvider="Telligent.EvolutionSqlProvider">
      <providers>
        <clear />
        <add name="Telligent.EvolutionSqlProvider" type="Telligent.Evolution.AspNetMembership.MembershipProvider, Telligent.Evolution.Platform" enableMultipleEvolutionSites="false" connectionStringName="SiteSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" applicationName="dev" description="Stores and retrieves membership data from the local Microsoft SQL Server database" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile defaultProvider="Telligent.EvolutionSqlProvider" enabled="true">
      <providers>
        <clear />
        <add name="Telligent.EvolutionSqlProvider" type="Telligent.Evolution.AspNetMembership.ProfileProvider, Telligent.Evolution.Platform" connectionStringName="SiteSqlServer" applicationName="dev" description="Stores and retrieves profile data from the local Microsoft SQL Server database" />
      </providers>
      <properties>
        <add name="birthdate" type="DateTime" />
        <add name="gender" type="int" defaultValue="0" />
        <add name="dateFormat" type="string" />
        <add name="publicEmail" type="string" />
        <add name="language" type="string" />
        <add name="webAddress" type="string" />
        <add name="webLog" type="string" />
        <add name="webGallery" type="string" />
        <add name="signature" type="string" />
        <add name="signatureFormatted" type="string" />
        <add name="location" type="string" />
        <add name="occupation" type="string" />
        <add name="interests" type="string" />
        <add name="msnIM" type="string" />
        <add name="yahooIM" type="string" />
        <add name="aolIM" type="string" />
        <add name="icqIM" type="string" />
        <add name="enablePostPreviewPopup" type="System.Boolean" defaultValue="false" />
        <add name="enableEmoticons" type="System.Boolean" defaultValue="true" />
        <add name="timezone" type="System.Double" defaultValue="0" />
        <add name="timeZoneInfo" type="string" />
        <add name="fontsize" type="int" defaultValue="0" />
        <add name="bio" type="string" />
      </properties>
    </profile>
    <!--<trust level="Medium" />-->
    <!--
    ========================
    Anonymous Identification
    ========================
    anonymousIdentification configuration:
      enabled="[true|false]"                            Feature is enabled?
      cookieName=".ASPXANONYMOUS"                       Cookie Name
      cookieTimeout="100000"                            Cookie Timeout in minutes
      cookiePath="/"                                    Cookie Path
      cookieRequireSSL="[true|false]"                   Set Secure bit in Cookie
      cookieSlidingExpiration="[true|false]"            Reissue expiring cookies?
      cookieProtection="[None|Validation|Encryption|All]"  How to protect cookies from being read/tampered
      domain="[domain]"                                 Enables output of the "domain" cookie attribute set to the specified value
      -->
    <anonymousIdentification enabled="false" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain="" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2097152" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="user/EditProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="user/conversations">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Telligent.Evolution" />
      <add name="Telligent.Evolution" type="Telligent.Evolution.CSHttpModule, Telligent.Evolution.Platform" />
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute" />
    <httpErrors errorMode="DetailedLocalOnly">
      <clear />
      <!--If you run your application under a virtual directory, update this value to reflect it  eg:/myAppName/utility/error-notfound.aspx.-->
      <error statusCode="404" path="/utility/error-notfound.aspx" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>