@iet_dark_purple: #4F1B59;
@iet_light_purple: #965fa3;

@defaultBaseFontSize: 14px;
@baseFontSize: -evo-themeconfig-unit('baseFontSizeValue', @defaultBaseFontSize);

@defaultForegroundColour: #333333;
@backgroundColor: -evo-themeconfig-color('accentColor', @defaultForegroundColour);

@defaultLinkColour: #ffffff;
@linkColour: -evo-themeconfig-color('backgroundColor', @defaultLinkColour);

@defaultMinWidth: 670px;
@minWidth: -evo-themeconfig-unit('minWidth', @defaultMinWidth);


.content .paywall {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: @backgroundColor;
	padding: 20px;
	opacity: 1;
	animation: fade 2s linear;

	a{
		:link, :hover,:visited {
			color: @linkColour;
		}
	}
}

//== Mobile

@media only screen and (max-width: @minWidth) {

	.content-fragment .paywall{	
		

		
	}
    
}