<?xml version="1.0"?>
<!-- 
		MaxNumberOfThreads - Maximum number of jobs to execute concurrently.  A value of -1 will automatically set this value.  Default is "-1".
		LookAheadIntervalInSeconds - How far ahead in seconds to look ahead for jobs to prepare to execute.  With a single job server, this is effectively twice the minimum length of time between runs of a recurring job.  Default is 60, must be at least 2.
		ServiceName - Name of the Service when installing.
		AutomaticDatabaseUpdates - Automatically keep the database up to date or not.  If not, a manual update will be necessary when installing/upgrading.  Enabling this requires elevated database permissions.
	-->
<jobs
	MaxNumberOfThreads="-1"
	LookAheadIntervalInSeconds="60"
	ServiceName="Telligent Job Service"
	AutomaticDatabaseUpdates="false">
</jobs>
