<?xml version="1.0" encoding="utf-8" ?>
<SiteUrls>
 
  <locations type ="Telligent.Evolution.Urls.Location, Telligent.Evolution.Components">
    <!-- 
        name: look up value
        path: site location
        exclude: should any path/link in this location be excluded from Url ReWriting?
        changes to exclude will require an application restart     
    -->
    <location name="themes" path="/themes/" exclude="true" />
    <location name="ajax" path="/ajax/" />
    <location name="es" path="/es/" />

    <location name="message" path="/msgs/" themeDir="msgs">
      <url name="message"  path="default.aspx?MessageID={0}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_return"  path="default.aspx?MessageID={0}^ReturnUrl={1}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_userban"  path="default.aspx?MessageID={0}^BanReason={1}^BanExpiration={2}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_modal" path="modalmessage.aspx?MessageID={0}" pattern="modalmessage.aspx" physicalPath="##themeDir##" vanity="{2}" page="modalmessage.aspx" />
    </location>

    <location name="controlpanel" path="/controlpanel/" exclude = "true" applicationType="admin">
      <!-- ControlPanel paths -->
      <url name="controlpanel"  path="default.aspx" />
      <url name="controlpanel_loading"  path="loading.aspx?msg={0}" />

      <!-- Moderation paths -->
      <url name="moderate"  path="Moderation/default.aspx" />
      <url name="moderate_Forum"  path="Moderation/ModerateForum.aspx?ForumID={0}" />
      <url name="moderate_Post_Delete"  path="Moderation/DeletePost.aspx?ForumPostID={0}^ContentTypeID={1}^q=childposts^ReturnUrl={2}" />
      <url name="moderate_Post_Move"  path="Moderation/MoveThread.aspx?ForumPostID={0}^ContentTypeID={1}^ReturnUrl={2}" />
      <url name="moderate_Threads_Move"  path="Moderation/MoveThreads.aspx?Threads={0}^ReturnUrl={1}" />
      <url name="moderate_Quick_Thread_Split"  path="Moderation/QuickSplitThread.aspx?ForumPostID={0}^ContentTypeID={1}" />
      <url name="moderate_Thread_Split"  path="Moderation/SplitThread.aspx?ForumPostID={0}^ContentTypeID={1}^ReturnUrl={2}" />
      <url name="moderate_Quick_Thread_Join"  path="Moderation/QuickJoinThread.aspx?ForumPostID={0}^ReplyToContentTypeID={1}" />
      <url name="moderate_Thread_Join"  path="Moderation/JoinThread.aspx?ForumPostID={0}^ContentTypeID={1}^ReturnUrl={2}" />
      <url name="moderation_Quick_History"  path="Moderation/QuickModerationHistory.aspx?ForumPostID={0}^ContentTypeID={1}" />
      <url name="moderation_History"  path="Moderation/ModerationHistory.aspx?ForumPostID={0}^ContentTypeID={1}^ReturnUrl={2}" />

      <!-- Blog ControlPanel Pages -->
      <url name="blog_ControlPanel_Home"  path="blogs/default.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_Switch"  path="blogs/switch.aspx" />
      <url name="blog_ControlPanel_Switch_ReturnUrl"  path="blogs/switch.aspx?ReturnURL={0}" />

      <url name="blog_posteditor"  path="blogs/posteditor.aspx?SelectedNavItem=NewPost^WeblogID={0}" />
      <url name="blog_posteditor_bpt"  path="blogs/posteditor.aspx?SelectedNavItem=NewPost^WeblogID={0}^bpt={1}" />
      <url name="blog_posteditor_postToEdit"  path="blogs/posteditor.aspx?SelectedNavItem=Posts^WeblogID={0}^WeblogPostID={1}" />
      <url name="blog_posteditor_tempStore"  path="blogs/posteditor.aspx?SelectedNavItem=NewPost^WeblogID={0}^tsid={1}" />
      <url name="blog_ControlPanel_NewPostByEmail" path="blogs/blogbyemail.aspx?SelectedNavItem=NewPostByEmail^WeblogID={0}" />
      <url name="blog_referrals_to_post"  path="blogs/views.aspx?WeblogID={0}^WeblogPostID={1}" />
      <url name="blog_feedback"  path="blogs/comments.aspx?WeblogID={0}" />
      <url name="blog_feedback_action"  path="blogs/comments.aspx?WeblogID={0}^action={1}^WeblogPostIDList={2}" />
      <url name="blog_feedback_post"  path="blogs/comments.aspx?WeblogID={0}^WeblogPostID={1}" />
      <url name="blog_feedback_bpt"  path="blogs/comments.aspx?WeblogID={0}^bpt={1}" />
      <url name="blog_feedback_editor"  path="blogs/commenteditor.aspx?WeblogID={0}^WeblogPostID={1}" />
      <url name="blog_uploadattachment" path="blogs/attachment.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_postlist" path="blogs/postlist.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_postlist_category" path="blogs/postlist.aspx?WeblogID={0}^Tag={1}" />
      <url name="blog_ControlPanel_email_feedback" path="blogs/feedback.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_email_feedback_view"  path="blogs/feedbackviewer.aspx?WeblogID={0}^BlogContactID={1}" />
      <url name="blog_ControlPanel_postcategories" path="blogs/postcategories.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_tokens" path="blogs/tokens.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_files_modal" path="blogs/FilesBrowseModal.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_files_modal_folder" path="blogs/FilesBrowseModal.aspx?WeblogID={0}^folder={1}" />
      <url name="blog_ControlPanel_Options_BlogSetup"  path="blogs/DescOptions.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_Options_ThemeConfiguration"  path="blogs/ThemeConfiguration.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_Options_AdvancedPost"  path="blogs/PostOptions.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_Options_AdvancedConfiguration"  path="blogs/AdvancedConfiguration.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_Spam" path="blogs/spam.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_RemoteBlogSettingsForm" path="blogs/RemoteBlogSettingsForm.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_RemoteBlogSettingsForm_Edit" path="blogs/RemoteBlogSettingsForm.aspx?WeblogID={0}^SettingID={1}" />
      <url name="blog_ControlPanel_TokenForm" path="blogs/TokenForm.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_TokenForm_Edit" path="blogs/TokenForm.aspx?WeblogID={0}^TokenID={1}" />
      <url name="blog_ControlPanel_Command" path="blogs/BlogCommand.aspx?WeblogID={0}^Command={1}{2}" />
		  <url name="blog_ControlPanel_BlogFeeds" path="blogs/BlogFeeds.aspx?WeblogID={0}" />
		  <url name="blog_ControlPanel_BlogFeedsForm" path="blogs/BlogFeedsForm.aspx?WeblogID={0}^WeblogFeedID={1}" />
      <url name="blog_ControlPanel_CustomPageManagement" path="blogs/CustomPageManagement.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_ConfigureCustomPage" path="blogs/ConfigureCustomPage.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_CategoryForm" path="blogs/categoryform.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_CategoryForm_Edit" path="blogs/categoryform.aspx?WeblogID={0}^Tag={1}" />

		<!-- Blog Admin ControlPanel Pages -->
      <url name="blog_ControlPanel" path="BlogAdmin/" />
      <url name="blog_ControlPanel_AdminSectionEdit"  path="BlogAdmin/sectionedit.aspx" />
      <url name="blog_ControlPanel_AdminBlogs"  path="BlogAdmin/Blogs.aspx" />
      <url name="blog_ControlPanel_AdminNewBlogCreated"  path="BlogAdmin/Blogs.aspx?WeblogID={0}" />
      <url name="blog_ControlPanel_AdminGeneralOption"  path="BlogAdmin/Options/GeneralOptions.aspx" />
      <url name="blog_ControlPanel_AdminSkinOptions"  path="BlogAdmin/Options/SkinOptions.aspx" />
      <url name="blog_ControlPanel_AdminFileStorageOptions"  path="BlogAdmin/Options/FileStorageOptions.aspx" />
      <url name="blog_ControlPanel_EditBlog" path="BlogAdmin/SectionEdit.aspx?tab=blog^WeblogID={0}" />

      <!-- Hub Admin ControlPanel Pages -->
      <url name="hub_ControlPanel" path="GroupAdmin/" />
      <url name="hub_ControlPanel_CreateHub" path="GroupAdmin/creategroup.aspx" />
      <url name="hub_ControlPanel_AdminHubs" path="GroupAdmin/groups.aspx" />
      <url name="hub_ControlPanel_AdminHubsCreated" path="GroupAdmin/groups.aspx?GroupID={0}" />
      <url name="hub_ControlPanel_AdminEditGroup" path="GroupAdmin/EditGroup.aspx?GroupID={0}" />
      <url name="hub_ControlPanel_AdminEditGroupPaged" path="GroupAdmin/EditGroup.aspx?GroupID={0}^TabID={1}^PageIndex={2}" />
      <url name="hub_ControlPanel_AdminThemes" path="GroupAdmin/Options/ThemeOptions.aspx" />
      <url name="hub_ControlPanel_AdminBlogsPaged" path="BlogAdmin/Blogs.aspx?q={0}^a={1}^PageIndex={2}" />

		<!-- My Groups Control Panel -->
      <url name="myGroup_ControlPanel" path="Groups/default.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_Applications" path="Groups/applications.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_Edit" path="Groups/Setup.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_Edit_ReturnUrl"  path="Groups/Setup.aspx?GroupID={0}^ReturnUrl={1}" />
      <url name="myGroup_ControlPanel_Edit_WithReturn"  path="Groups/Setup.aspx?GroupID={0}^returnToGroup=true" />
      <url name="myGroup_ControlPanel_EditTheme" path="Groups/ThemeConfiguration.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_ImportTheme" path="Groups/ThemeConfiguration-Import.aspx?GroupID={0}^theme={1}" />
      <url name="myGroup_ControlPanel_EditAvatar" path="Groups/ChangeGroupAvatar.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_CustomPageManagement" path="Groups/CustomPageManagement.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_ConfigureCustomPage" path="Groups/ConfigureCustomPage.aspx?GroupID={0}" />
      <url name="myGroup_ControlPanel_ManageScoreDecay" path="Groups/ManageScoreDecay.aspx?GroupID={0}" />

      <!-- Media Gallery Control Panel -->
      <url name="mediaGalleries_ControlPanel_Home" path="MediaGalleries/default.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Switch" path="MediaGalleries/switch.aspx" />
      <url name="mediaGalleries_ControlPanel_Switch_ReturnUrl" path="MediaGalleries/switch.aspx?ReturnURL={0}" />
      <url name="mediaGalleries_ControlPanel_FileEditor" path="MediaGalleries/fileeditor.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_FileEditor_File" path="MediaGalleries/fileeditor.aspx?MediaGalleryID={0}^MediaGalleryPostID={1}" />
      <url name="mediaGalleries_ControlPanel_FileList" path="MediaGalleries/filelist.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_FileList_Category" path="MediaGalleries/filelist.aspx?MediaGalleryID={0}^Tag={1}" />
      <url name="mediaGalleries_ControlPanel_FileTags" path="MediaGalleries/filecategories.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Comments" path="MediaGalleries/comments.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Comments_File" path="MediaGalleries/comments.aspx?MediaGalleryID={0}^MediaGalleryPostID={1}" />
      <url name="mediaGalleries_ControlPanel_Options_Setup" path="MediaGalleries/TitleAndDescriptionOptions.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Options_Files" path="MediaGalleries/FileOptions.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Options_Presentation" path="MediaGalleries/PresentationOptions.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_Options_RSS" path="MediaGalleries/SyndicationOptions.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_CommentEditor" path="MediaGalleries/commenteditor.aspx?MediaGalleryID={0}^MediaGalleryPostID={1}" />
      <url name="mediaGalleries_ControlPanel_CategoryForm" path="MediaGalleries/categoryform.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_CategoryForm_Edit" path="MediaGalleries/categoryform.aspx?MediaGalleryID={0}^Tag={1}" />
      <url name="mediaGalleries_ControlPanel_QuickUpload" path="MediaGalleries/QuickUpload.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_UserDownloads" path="MediaGalleries/userdownloads.aspx?MediaGalleryID={0}^MediaGalleryPostID={1}" />
      <url name="mediaGalleries_ControlPanel_UserDownloads_csv" path="MediaGalleries/userdownloadcsv.aspx?MediaGalleryID={0}^MediaGalleryPostID={1}^brd={2}^erd={3}" />

      <!-- Media Gallery Admin Control Panel -->
      <url name="mediaGalleries_ControlPanel"  path="MediaGalleryAdmin/" />
      <url name="mediaGalleries_ControlPanel_AdminMediaGalleryCreate" path="MediaGalleryAdmin/CreateEditMediaGallery.aspx" />
      <url name="mediaGalleries_ControlPanel_AdminMediaGalleryEdit"  path="MediaGalleryAdmin/CreateEditMediaGallery.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_AdminMediaGalleryEdit_ReturnURL"  path="MediaGalleryAdmin/CreateEditMediaGallery.aspx?MediaGalleryID={0}^ReturnUrl={1}^AppKey={2}" />
      <url name="mediaGalleries_ControlPanel_AdminMediaGalleries"  path="MediaGalleryAdmin/MediaGalleries.aspx" />
      <url name="mediaGalleries_ControlPanel_AdminMediaGalleriesCreated"  path="MediaGalleryAdmin/MediaGalleries.aspx?MediaGalleryID={0}" />
      <url name="mediaGalleries_ControlPanel_AdminSettings"  path="MediaGalleryAdmin/Settings.aspx" />
      <url name="mediaGalleries_ControlPanel_AdminGlobalQuotas" path="MediaGalleryAdmin/Quotas.aspx" />

      <!-- Media Manager Admin Pages -->
      <url name="mediaGallery_Moderation_MediaGallery" path="MediaGalleries/filelist.aspx?cid={0}^ip=Unpublished" />
      <url name="mediaGallery_MediaGalleryPosts" path="MediaGalleries/filelist.aspx" />

      <!-- Settings Control Panel Pages -->
      <url name="settings_ControlPanel_Home"  path="Setup.aspx" />
      <url name="settings_ControlPanel_ControlPanel"  path="settings.aspx" />
      <url name="settings_ControlPanel_Setup"  path="Settings/Setup.aspx" />
      <url name="settings_ControlPanel_AdvancedConfiguration" path="Settings/AdvancedConfiguration.aspx" />
      <url name="settings_ControlPanel_ManagePlugins" path="Settings/ManagePlugins.aspx" />
      <url name="settings_ControlPanel_ConfigurePlugin" path="Settings/ConfigurePlugin.aspx?plugin={0}" />
			<url name="utility_ControlPanel_PreviewEmail" path="Utility/PreviewEmail.ashx?plugin={0}" />
      <url name="settings_ControlPanel_ManageOAuthClients" path="Settings/manageoauthclients.aspx" />
      <url name="settings_ControlPanel_ImportPluginResources" path="Settings/PluginResourceImport.aspx" />
      <url name="settings_ControlPanel_AddRemoveScoreMetrics" path="tools/AddRemoveScoreMetrics.aspx?scoreId={0}" />
      <url name="settings_ControlPanel_ScoreDecayOverrides" path="tools/ScoreDecayOverrides.aspx?scoreId={0}" />
      <url name="settings_ControlPanel_General"  path="Settings/General.aspx" />
      <url name="settings_ControlPanel_ThemeConfiguration" path="Settings/ThemeConfiguration.aspx" />
      <url name="settings_ControlPanel_CustomPageManagement" path="Settings/CustomPageManagement.aspx" />
      <url name="settings_ControlPanel_ManageThemes" path="Settings/ManageThemes.aspx" />
      <url name="settings_ControlPanel_ConfigureDynamicNavigationItem" path="Utility/ConfigureDynamicNavigationItem.aspx?" />
      <url name="settings_ControlPanel_AddUploadThemeFile" path="Utility/AddUpdateThemeFile.aspx?" />
	    <url name="settings_ControlPanel_AddUploadCssThemeFile" path="Utility/AddUpdateCssThemeFile.aspx?" />
      <url name="settings_ControlPanel_ThemeFileLink" path="Utility/ThemeFileLink.aspx?" />
      <url name="settings_ControlPanel_ConfigureAddon" path="Utility/ConfigureAddon.aspx" />
      <url name="settings_userfiles" path="settings/userfiles.aspx" />
      <url name="site_manage_files_root" path="settings/files.aspx" />
      <url name="site_manage_files" path="settings/files.aspx?folder={0}" />
      <url name="site_files_browseModal" path="settings/FilesBrowseModal.aspx?folder={0}" />
      <url name="settings_ControlPanel_SiteTerms" path="tools/ManageTerms.aspx" />
      <url name="settings_ControlPanel_Poll" path="tools/ManagePolls.aspx" />
      <url name="settings_ControlPanel_Achievements" path="tools/ManageAchievements.aspx" />
      <url name="settings_ControlPanel_Rules" path="tools/ManageRules.aspx" />

      <!-- Forums Control Panel Pages -->
      <url name="forums_ControlPanel_Home"  path="forums/" />
      <url name="forums_ControlPanel_NewForum"  path="forums/SectionEdit.aspx" />
      <url name="forums_ControlPanel_NewForum_ForGroup"  path="forums/SectionEdit.aspx?GroupID={0}" />
			<url name="forums_ControlPanel_NewForum_ForGroup_RedirectToGroup"  path="forums/SectionEdit.aspx?GroupID={0}^ReturnURL={1}" />
      <url name="forums_ControlPanel_EditForum"  path="forums/SectionEdit.aspx?ForumID={0}^GroupID={1}" />
      <url name="forums_ControlPanel_EditForum_ReturnUrl"  path="forums/SectionEdit.aspx?ForumID={0}^GroupID={1}^ReturnURL={2}" />
      <url name="forums_ControlPanel_ForumList"  path="forums/Forums.aspx" />
      <url name="forums_ControlPanel_Created_ForumList"  path="forums/Forums.aspx?ForumID={0}" />
      <url name="forums_ControlPanel_ForumListByGroup"  path="forums/Forums.aspx?GroupID={0}" />
      <url name="forums_ControlPanel_PostOptions"  path="forums/options/PostOptions.aspx" />

      <!-- Wiki Control Panel Pages -->
      <url name="wiki_ControlPanel_Manage"  path="wikis/default.aspx?WikiID={0}" />
      <url name="wiki_ControlPanel_WikiPages"  path="wikis/WikiPages.aspx?WikiID={0}" />
      <url name="wiki_ControlPanel_WikiComments"  path="wikis/WikiComments.aspx?WikiID={0}" />
      <url name="wiki_ControlPanel_WikiCommentEditor"  path="wikis/commenteditor.aspx?WikiID={0}^WikiPageCommentID={1}" />
      <url name="wiki_ControlPanel_Switch"  path="wikis/switch.aspx" />
      <url name="wiki_ControlPanel_Switch_ReturnUrl"  path="wikis/switch.aspx?ReturnURL={0}" />

      <!-- Wiki Admin Control Panel Pages -->
      <url name="wiki_ControlPanel_HomeAdmin"  path="wikiadmin/" />
      <url name="wiki_ControlPanel_NewWiki"  path="wikiadmin/WikiEdit.aspx" />
      <url name="wiki_ControlPanel_EditWiki"  path="wikiadmin/WikiEdit.aspx?WikiID={0}" />
			<url name="wiki_ControlPanel_EditWiki_ReturnURL"  path="wikiadmin/WikiEdit.aspx?WikiID={0}^ReturnURL={1}^AppKey={2}" />
      <url name="wiki_ControlPanel_WikiList"  path="wikiadmin/Wikis.aspx" />
      <url name="wiki_ControlPanel_WikiQuota"  path="wikiadmin/Quota.aspx" />

      <!-- Membership Control Panel Pages -->
      <url name="membership_ControlPanel_Home"  path="membership/default.aspx" />
      <url name="membership_ControlPanel_UserAdd"  path="membership/UserAdd.aspx" />
      <url name="membership_ControlPanel_UserEdit"  path="membership/UserEdit.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserEdit_UnlockedAccount"  path="membership/UserEdit.aspx?UserID={0}^Unlocked=true" />
      <url name="membership_ControlPanel_UserDelete"  path="membership/UserDelete.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserAddedMessage"  path="membership/default.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserRoles"  path="membership/UserRoles.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserName"  path="membership/UserName.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserPassword"  path="membership/UserPassword.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UsersBrowse"  path="membership/membersearch.aspx" />
      <url name="membership_ControlPanel_UserSearch_AccountStatus"  path="membership/MemberSearch.aspx?search=1^s={0}" />
      <url name="membership_ControlPanel_UserSearch_Role"  path="membership/MemberSearch.aspx?search=1^r={0}" />
      <url name="membership_ControlPanel_SiteRoles"  path="membership/SiteRoles.aspx" />
      <url name="membership_ControlPanel_RoleAdd"  path="membership/RoleEdit.aspx" />
      <url name="membership_ControlPanel_RoleEdit"  path="membership/RoleEdit.aspx?RoleID={0}" />

      <url name="membership_ControlPanel_EditFieldGroup"  path="membership/SectionEdit.aspx?SectionID={0}" />
      <url name="membership_ControlPanel_Fields"  path="membership/Fields.aspx" />
      <url name="membership_ControlPanel_FieldGroups"  path="membership/FieldGroups.aspx" />
      <url name="membership_ControlPanel_AccountSettings"  path="membership/AccountSettings.aspx" />
      <url name="membership_ControlPanel_Options_Security"  path="membership/Options/SecurityOptions.aspx" />

      <!-- Reports Control Panel Pages -->
      <url name="reports_ControlPanel_ExceptionsReport"  path="Tools/Reports/ExceptionsReport.aspx" />
      <url name="reports_ControlPanel_Jobs"  path="Tools/Reports/JobsReport.aspx" />



      <!-- System Tools Control Panel Pages -->
      <url name="tools_ControlPanel_ManageAds"  path="tools/ManageAds.aspx" />
      <url name="tools_ControlPanel_UsernameFilter" path="tools/UsernameFilter.aspx" />
      <url name="tools_ControlPanel_WordReplacementFilter" path="tools/WordReplacementFilter.aspx" />
      <url name="tools_ControlPanel_EmoticonFilter" path="tools/EmoticonFilter.aspx" />
      <url name="tools_ControlPanel_Smilies"  path="tools/ManageSmilies.aspx" />
      <url name="tools_ControlPanel_SpamRules"  path="tools/ManageSpamRules.aspx" />
      <url name="tools_ControlPanel_ManageScores" path="tools/ManageScores.aspx" />
      <url name="tools_ControlPanel_PointSystem"  path="tools/PointSystem.aspx" />
      <url name="tools_ControlPanel_Licenses"  path="tools/ManageLicenses.aspx" />
      <url name="tools_ControlPanel_Redirects"  path="tools/ManageUrlRedirects.aspx" />
      <url name="tools_ControlPanel_MassEmailingAdmin"  path="tools/MassEmailingAdmin.aspx" />
      <url name="tools_ControlPanel_ManageIP"  path="tools/ManageIP.aspx" />
      <url name="tools_ControlPanel_EventLogViewer"  path="tools/EventLogViewer.aspx" />
      <url name="tools_ControlPanel_ManageWidgets" path="tools/ManageWidgets.aspx" />
      <url name="tools_ControlPanel_ListWidgets" path="tools/ManageWidgets/ListWidgets.aspx" />
      <url name="tools_ControlPanel_ReplaceWidgets" path="tools/ManageWidgets/ReplaceWidgets.aspx" />
      <url name="tools_ControlPanel_DeveloperTools" path="tools/ManageWidgets/DeveloperTools.aspx" />
      <url name="tools_ControlPanel_ReplacementWidgetConfiguration" path="tools/ManageWidgets/ReplacementWidgetConfiguration.aspx?type={0}^Theme={1}" />      
      <url name="tools_ControlPanel_WidgetImport" path="tools/ManageWidgets/Merge.aspx?mode=ScriptedContentFragmentImport^callback={0}" />
      <url name="tools_ControlPanel_WidgetRevert" path="tools/ManageWidgets/Merge.aspx?mode=ScriptedContentFragmentRevert^callback={0}^fragmentSelectionCallback={1}" />
      <url name="tools_ControlPanel_ResourceImport" path="tools/ManageWidgets/Merge.aspx?mode=ResourceImport^callback=imported" />
      <url name="tools_ControlPanel_WidgetEditor"  path="tools/ManageWidgets/WidgetEditor.aspx?SelectedNavItem=ToolsListWidgets" />
      <url name="tools_ControlPanel_WidgetEditor_WidgetToEdit"  path="tools/ManageWidgets/WidgetEditor.aspx?SelectedNavItem=ToolsListWidgets^WidgetID={0}^SelectedTab={1}" />
      <url name="tools_ControlPanel_WidgetEditor_ThemedWidgetToEdit"  path="tools/ManageWidgets/WidgetEditor.aspx?SelectedNavItem=ToolsListWidgets^WidgetID={0}^ThemeName={1}^SelectedTab={2}" />
      <url name="tools_ControlPanel_WidgetAddFiles" path="tools/ManageWidgets/WidgetAddFiles.aspx" />
      <url name="tools_ControlPanel_WidgetSelectTheme" path="tools/ManageWidgets/WidgetSelectTheme.aspx?SelectedTheme={0}" />

      <!-- API Documentation -->
      <url name="api_documentation"  path="ApiDocumentation/Default.aspx?api={0}" />
      <url name="api_documentation_Extension"  path="ApiDocumentation/Extension.aspx?name={0}^api={1}" />
      <url name="api_documentation_Extension_Member"  path="ApiDocumentation/Extension.aspx?name={0}^api={2}#{1}" />
      <url name="api_documentation_Type"  path="ApiDocumentation/Type.aspx?name={0}^api={1}" />
      <url name="api_documentation_StaticContent"  path="ApiDocumentation/Static.aspx?content={0}" />

    </location>

    <location name="user" path="/user/" themeDir="user">
      <url name="friend_request"  path="requestfriend.aspx?UserId={0}" pattern="RequestFriend.aspx" physicalPath="##themeDir##" vanity="{2}" page="RequestFriend.aspx" />
      <url name="user_EditAvatar"  path="editavatar.aspx" pattern="editavatar.aspx" physicalPath="##themeDir##" vanity="{2}" page="edituseravatar.aspx" />
    </location>

    <location name="utility" path="/utility/" exclude="false">
      <url name = "rssxsl"  path = "feedstylesheets/rss.xsl" />
      <url name = "atomxsl"  path = "feedstylesheets/atom.xsl" />
      <url name = "opmlxsl"  path = "feedstylesheets/opml.xsl" />
	    <url name="editfragmentpage" path="editpage.aspx?Page-EditMode=True&amp;PageName={0}&amp;Page-IsCustom={1}&amp;Page-Tab{2}&amp;Page-Default={3}&amp;Page-Layout={4}&amp;returnUrl={5}" />
      <url name="editheader" path="editheader.aspx?Header-EditMode=True&amp;Page-Default={0}&amp;Page-Layout={1}&amp;returnUrl={2}"   />
      <url name="editfooter" path="editfooter.aspx?Footer-EditMode=True&amp;Page-Default={0}&amp;Page-Layout={1}&amp;returnUrl={2}"  />
      <url name="configurecustomnavigationitem" path="configurecustomnavigationitem.aspx?"  />
      <url name="configurecontentfragmenttab" path="configurecontentfragmenttab.aspx?"  />
      <url name="configurecontentfragmentpage" path="configurecontentfragmentpage.aspx?"  />
      <url name="importexportpage" path="importexportpage.aspx?" />
      <url name="importexportheader" path="importexportheader.aspx?"  />
      <url name="importexportfooter" path="importexportfooter.aspx?" />

		<!-- RSS -->
      <url name="rssImage"  path="images/rss.gif" />
      <url name="feedIcon"  path="images/feedicon.png" />
      <url name="secureRssImage"  path="images/securerss.gif" />
      <url name="secureRssImageDisabled"  path="images/securerss_disabled.gif" />

      <!-- Email -->
      <url name="emailImage" path="images/email.gif" />
    </location>

    <location name="search" path="/search/" exclude="false" themeDir="search">
      <url name="search" path="" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="searchresultlist.aspx" />
      <url name="search_ForText" path="default.aspx?{0}" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="searchresultlist.aspx" indexable="false" />
      <url name="search_rss" path="searchrss.aspx?{0}" pattern="Searchrss.aspx" vanity="rss.ashx?" acceptUserToken="public" />
      <url name="user_List_AllUsers_Search"  path="default.aspx?c=user" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="searchresultlist.aspx" indexable="false" />
    </location>

    <location name="tags" path="/tags/" physicalPath="/" themeDir="tags" >
      <url name="tags_home"  path="default.aspx"  pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="tagslist.aspx" indexable="false"/>
      <url name="tags_browse" path="{0}/default.aspx" pattern="(.*?)/default.aspx" physicalPath="##themeDir##" vanity="{2}?Tags=$1" page="tagslist.aspx" indexable="false" forceLowercase="false" />
    </location>

    <!-- 
        When adding custom locations, add above here.  The common location should always be listed last.  
        When the url location pattern is matched, the search is done sequentially and the common path 
        of "/" will match any url.  
  -->
    <location name="common" path="/" themeDir="common" >
      <url name="home" path="" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="home.aspx" />
      <url name="favicon" path = "favicon.ico" />
      <url name="siteMapIndex" path="SiteMapIndex.ashx" />
      <url name="siteMap" path="SiteMap.ashx?apptype={0}^{1}={2}^{3}={4}" />
      <url name="siteMapForGroup" path="SiteMap.ashx?apptype={0}^{1}={2}" />
      <url name="googleSiteMapIndex_old" path="" pattern="GoogleSiteMapIndex.ashx" vanity="redirect.ashx" />
      <url name="googleSiteMap_old" path="" pattern="GoogleSiteMap.ashx" vanity="redirect.ashx" />
      <url name="loadingImage"  path = "utility/spinner.gif" />
      <url name="help_evo" navigateUrl="http://telligent.com/communities/r.ashx?Y" />
      <url name="help_cs" navigateUrl="http://telligent.com/communities/r.ashx?Z" />
      <url name="emoticons"  path="" />
      <url name="help_ThreadIcons"  path="languages/{0}/docs/faq.aspx#58" />
      <url name="aggview"  path = "aggbug?PostID={0}^AppID={1}^AppType={2}^ContentType={3}" />
      <url name="cfs_file" path="cfs-file/{0}" />
      <url name="httpcallback" path="callback.ashx?__type={0}" />
      <url name="classnameexpansion" path="css-classnameexpansion?css={0}" />
      <url name="resized_image" path="resized-image/{0}" />
      <url name="mediagallerieshome" path="m/" />
      <url name="forumshome" path="f/" />
      <url name="wikishome" path="w/" />
      <url name="webloghome"  path="b/" />
	    <url name="oauth_signin" path="oauth?type={0}" />
      <url name="oauth_signin_redirect" path="oauth?type={0}^ReturnUrl={1}" />
      <url name="oauth_token"  path="" pattern="api.ashx/v2/oauth/token"  />
	    <url name="oauth_logout" path="" pattern="api.ashx/v2/oauth/logout"  />
  	  <url name="oauth_redirect" path="" pattern="api.ashx/v2/oauth/redirect"  />
	  </location>

    <location name="rest" path="/api.ashx/">
      <url name="rest_home" path="" />
      <url name="blogAdminService" path="blogadmin.ashx"  pattern="blogadmin.ashx" />
      <url name="forumsAdminService" path="forumsadmin.ashx"  pattern="forumsadmin.ashx" />
      <url name="membershipService" path="membership.ashx"  pattern="membership.ashx" />
      <url name="settingsService" path="settings.ashx"  pattern="settings.ashx" />
    </location>

    <location name="weblogs" path="/{0}b/" pattern="/##groupName##b/" vanity="GroupKeys=$1" themeDir="blogs" type="Telligent.Evolution.Urls.Location, Telligent.Evolution.Components" applicationType="weblog">
      <url name = "weblog_newpost"  path="##blogdirectory##new.aspx" pattern="##blogName##/new.aspx" physicalPath="##blogthemeDir##"  vanity="{2}?WeblogApp=${{app}}" page="createeditpost.aspx" />
      <url name = "weblog_editpost" path="##blogdirectory##archive/{2}/{3}/{4}/{5}/edit.aspx" pattern="##blogName##/archive/(\d{4})/(\d{1,2})/(\d{1,2})/([a-zA-Z0-9\-\._]*?)/edit\.aspx" physicalPath="##blogthemeDir##" vanity="{2}?WeblogApp=${{app}}&amp;y=$2&amp;m=$3&amp;d=$4&amp;WeblogPostName=$5" page="createeditpost.aspx" />
    </location>

  </locations>

  <transformers>
    <add key = "^" value = "&amp;" />
    <add key = "##themeDir##" value = "/themes/{0}/{1}/" />
    <add key = "##blogthemeDir##" value = "/themes/blogs/{0}/" />
    <add key = "##bloggroupthemeDir##" value = "/themes/groups/{0}/blogs/" />
    <add key = "##blogdirectory##" value = "{1}/" />
    <add key = "##forumdirectory##" value = "{1}/" />
    <add key = "##forumThemeDir##" value = "/themes/groups/{0}/forums/" />
    <add key = "##wikiName##" value = "(?&lt;app&gt;[\w\.-]+)" />
    <add key = "##blogName##" value = "(?&lt;app&gt;[\w\.-]+)" />
    <add key = "##mediaGalleryName##" value = "([\w\.-]+)" />
    <add key = "##userName##" value = "([a-zA-Z0-9\-\._]*?)" />
    <add key = "//" value = "/" />
    <add key = "##groupthemeDir##" value = "/themes/groups/{0}/" />
    <add key = "##groupName##" value = "((?:|(?:[a-z-A-Z0-9\-\._]*\/)*))" />
  </transformers>

  <navigation>
    <!--
	    name: look up value
	    resourceUrl: maps to url name in SiteUrls/Urls
	    resourceName: text for link. Maps to the language resource files
	    roles: Which users can view this link. 
	
	     You can also specify actual links here like the following:
			<link name="mylink" navigateUrl="http://www.mysite.com/" text="My Link" />
		If no roles attribute is given, it will assume it is for Everyone.  You can
		specify multiple roles by separating them with a comma (,). 
		-->
    <!-- Main Navagation-->
    <link name="home" resourceUrl="home" resourceName="home" roles="Everyone" locations="common" />
    <link name="blog" resourceUrl="webloghome" resourceName="weblogs" roles="Everyone" applicationType = "Weblog" locations="weblogs" />
    <link name="media" resourceUrl="mediagallerieshome" resourceName="media" roles="Everyone" applicationType = "MediaGallery" locations="mediagallery" />
    <link name="forums" resourceUrl="forumshome" resourceName="forums" roles="Everyone" applicationType = "Forum" locations="forum" />
    <link name="wikis" resourceUrl="wikishome" resourceName="wikis" roles="Everyone" applicationType = "Wiki" locations="wikis" />
    <link name="groups" resourceUrl="grouphome" resourceName="Groups" roles="Everyone" applicationType="Core" locations="groups,groupaggregate,grouptags" />
    <link name="controlpanel" resourceUrl="controlpanel" resourceName="controlpanel" roles="Administrators,Moderators" />


    <!-- Evolution Navigation 
  <link name="home" resourceUrl="home" resourceName="evo-home" roles="Everyone" />
  <link name="hubs" resourceUrl="hubshome" resourceName="evo-groups" roles="Everyone" applicationType="Hub" /> 
  <link name="forums" resourceUrl="forumshome" resourceName="evo-forums" roles="Everyone" applicationType = "Forum" />
  <link name="blogs" resourceUrl="webloghome" resourceName="evo-newsandblogs" roles="Everyone" applicationType = "Weblog" />
  <link name="media" resourceUrl="mediagallerieshome" resourceName="evo-filesandmedia" roles="Everyone" applicationType = "MediaGallery" />
  <link name="wikis" resourceUrl="wikishome" resourceName="evo-wikis" roles="Everyone" applicationType = "Wiki" />
  <link name="controlpanel" resourceUrl="controlpanel" resourceName="evo-controlpanel" roles="SystemAdministrator,BlogAdministrator,ForumsAdministrator,Moderator,GroupAdministrator,MediaGalleryAdministrator,MembershipAdministrator" />
  -->
  </navigation>

</SiteUrls>
