#set($pageId = $core_v2_widget.GetStringValue('pageId', ''))
#set($accessToken = $core_v2_widget.GetStringValue('accessToken', ''))
#set($limit = $core_v2_widget.GetIntValue('limit', 6))
#set($columns = $core_v2_widget.GetIntValue('columns', 3))

#if(($columns % 2) == 0)
    #set($col = 6)
#end

#if(($columns % 3) == 0 || ($columns % 5) == 0 || ($columns % 6) == 0)
    #set($col = 4)
#end

#if(($columns % 4) == 0)
    #set($col = 3)
#end

<style type='text/css'>
	$core_v2_widget.ExecuteFile('required-style.css')
</style>

#set($mediaList = false)
#set($mediaList = $frcommon_v1_instagramFeed.GetMedia($pageId, $accessToken, $limit))
<div class="media-container">
    #foreach($media in $mediaList)
        #set($imageUrl = false)
        #set($permalink = false)
        #set($permalink = $media.Permalink)
        #if($media.MediaType == 'IMAGE')
            <div class="col-$col media-tiles">
                <div class="clearfix">
                    #if($permalink)
                        <a href="$permalink" target="_blank">
                    #end
                        #set($imageUrl = $media.MediaUrl)

                        #if (!$imageUrl || $imageUrl=='')
                            #set ($imageUrl="/cfs-file/__key/communityserver-components-sitefiles/img/placeholder.jpg")                  
                        #end                             

                        <div class="media-image" title="$media.Caption" style="background:url('$imageUrl') center center no-repeat;background-size:cover;"></div>
                    #if($permalink)
                        </a>
                    #end
                </div>
            </div>
        #end
    #end
</div>
