$core_v2_page.SetContentType('application/json')
#if ($core_v2_page.IsPost)

	#set($response = $core_v2_user.Get("%{Email = $core_v2_page.GetFormValue('email')}"))

	#if (!$response)
		##Not a user on the site 

		#if ($splash_v1.SaveDetails($core_v2_page.GetFormValue('email') , "%{DisplayName = $core_v2_page.GetFormValue('displayName')}"))
			{"result":"true"}
		#else
			{"result":"false"}
		#end

	#else
		#if ($response.Errors.Count == 0)
			##check the access code

			#set($accessCode = $core_v2_page.GetFormValue('accessCode'))

			#set($hash = $splash_v1.ValidateAndHashAccessCode($accessCode))
			#if ($hash)
				
				$core_v2_page.SetCookieValue("hash", $hash, "%{CookieName = 'Splash'}")

				{"result":"true"}
			#else
				{"result":"false"}
			#end

		#else
			$core_v2_page.SendJsonError($response.Errors)
		#end
	#end
#end